body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    width: 90vw;
    text-align: center;
}
.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 8px;
    background-color: antiquewhite;
}
    
.navigation {
    grid-column: span 5 / span 5;
    background-color: aqua;
}

.hero-section {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 2;
    background-color: lightblue;
}

.annoncement-box {
    grid-column: span 4 / span 4;
    grid-row: span 2 / span 2;
    grid-row-start: 4;
    background-color: lightgreen;
}

.calender {
    grid-column-start: 5;
    grid-row-start: 5;
    background-color: lightcoral;
}

.online-users {
    grid-column-start: 5;
    grid-row-start: 4;
    background-color: lightyellow;
}
        