
.instructor-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

.instructor-card{
    background-color: white;
    padding: 1rem;
    margin: 12px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}